

.text-divider {
    display: flex;
    align-items: center; // align text and lines vertically
  }
  
  .text-divider::before,
  .text-divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1; // both lines will expand to occupy the available space
  }